@import '/node_modules/flowbite-vue/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.tree-bg {
    background-image: url('@/assets/wish-tree.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
body{
    font-family: Vazirmatn, sans-serif !important;
    font-feature-settings: "ss01";
    color:white;
}
